---
Title: MsBuild
Description: Issue provider which allows you to read warnings logged by MsBuild.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading warnings reported by MsBuild is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.MsBuild" target="_blank">Cake.Issues.MsBuild addin</a>.
</p>

@Html.Partial("_ChildPages")